header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

header > .left, header > .right {
    display: flex;
    padding: 2rem 0;
    width: 50%;
    align-items: center;
    border-bottom: 1px solid var(--gray);
}

header > .right {
    justify-content: flex-end;
}

/* Logo */
header > .left > .logo {
    margin-right: .5rem;
}

/* Menu */
header > .left > .menu {
    padding-right: .5rem;
    display: flex;
    margin-left: 3.25rem;
}

header > .left > .menu > .menu-item {
    padding: .25rem 0;
    margin: 0 1.5rem;
    font-size: 1rem;
    position: relative;
}

header > .left > .menu > .menu-item::after {
    content: '';
    background: var(--red);
    height: 2px;
    width: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transition: .35s ease-in-out;
}

header > .left > .menu > .menu-item:hover::after {
    width: 100%;
    left: 0;
    right: initial;
}

/* Shortcuts */
header > .right > .shortcuts {
    margin-right: 2rem;
}

header > .right > .shortcuts > .icon {
    position: relative;
    cursor: pointer;
}   

.icon > .count {
    width: 15px;
    height: 15px;
    top: -5px;
    position: absolute;
    font-size: .65rem;
    text-align: center;
    right: -8px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: var(--red);
    color: white;
    font-weight: bold;
}