main {
    display: flex;
    justify-content: space-between;
}

/* Images */

picture {
    width: 100%;
    height: 100%;
}

picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images {
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.images > .main-image {
    width: 100%;
    padding: 1rem;
    border-radius: 50px;
}

.images > .main-image > picture > img {
    border-radius: 50px;
}

.images > .thumbs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.images > .thumbs > picture {
    overflow: hidden;
    border-radius: 25px;
    margin: .5rem;
}

.images > .thumbs > picture > img {
    cursor: pointer;
    transition: .3s ease;
}

.images > .thumbs > picture > img:hover {
    transform: scale(1.1);
}

/* Infos */

.infos {
    width: 50%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
}

.info, .price {
    margin-bottom: 2.5rem;
}

.info > .subtitle {
    width: 100%;
    font-weight: 400;
    color: var(--red);
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

.info > .title {
    width: 100%;
    font-weight: bold;
    margin-bottom: 1rem;
}

.info > .description {
    color: var(--dark-gray);
    font-size: .9rem;
}

/* Prices */

.price {
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price > .price-with-discount {
    font-weight: bold;
    font-size: 2rem;
    width: 70%;
}

.price > .discount {
    display: block;
    padding: .5rem;
    border-radius: 5px;
    background: var(--red);
    color: white;
    font-weight: bold;
}

.price > .original-price {
    margin-top: .5rem;
    font-weight: 600;
    color: gray;
    text-decoration: line-through;
}

/* Actions */

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.actions > .quantity {
    background: var(--gray);
    padding: 1rem;
    width: 30%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.quantity > .minus, .quantity > .plus {
    font-weight: bold;
    color: var(--red);
    font-size: 1.25rem;
    cursor: pointer;
}

.quantity > input {
    background: none;
    outline: none;
    pointer-events: none;
    text-align: center;
    font-size: 1.2rem;
    width: 50px;
}

.add-to-cart {
    background: var(--red);
    width: 67.5%;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: .5rem;
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 25px 9px rgba(237,20,91,0.25); 
    box-shadow: 0px 4px 25px 9px rgba(237,20,91,0.25);
    transition: .35s ease-in-out;
}

.add-to-cart:hover {
    background: var(--light-red);
    box-shadow: 0px 4px 25px 9px rgba(237,20,91,0.3);
}